<div class="container">
      <section id="explanation" class="width-two-thirds">

          <h3>About this Site</h3>
<p>This data provides a window into how people are interacting with the State of Delaware government online. The data comes from Google Analytics accounts for State of Delaware government agencies. This data helps government agencies understand how people find, access, and use government services online. This does not track individuals, and anonymizes the IP addresses of visitors. </p>

<p>Not every State of Delaware website is represented in this data. We plan to add new domains from agencies and Delaware municipalities that opt-in. To add your site, please <a href="https://gic.delaware.gov/contact-government-information-center/">contact us</a>.</p>

<p>This website is a fork of an open source project originally released by the Government Service Administration (GSA) in the Federal Government. This program is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="https://github.com/de-data-lab/gic-ga4-analytics">code for this website</a> on GitHub.</p>

      </section>
      <section class="width-one-third">
        <h3>Download the data</h3>{% capture slug_size %}{{ page.slug | size }}{% endcapture %}
        <p>You can <a href="{{ site.url }}{% if slug_size != '0' %}{{ page.slug }}/{% endif %}data/">download the data here.</a> Available in JSON and CSV format.</p>
        
      </section>
</div>
